# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

# testing

# production

# misc
/docker-vol/grafana/data
/docker-vol/influxdb2/data
/docker-vol/telegraf/data
