# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

# testing

# production

# misc
/grafana/data/grafana.db
/grafana/data/alerting
/influxdb2/data
/telegraf/data
